
body{
    background: grey;
}
.profilecard{
    background: white;
    width: 350px;
    height:500px;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.photo{
    width:50%;
    height:auto;
    margin-top: 0px;
    margin-left: 25%;
}
#name{
    color: black;
    font-size:larger;
    font-family:Arial, Helvetica, sans-serif;
display: flex;
    justify-content: center;
    align-items: center;
   
}
#role{
    color: black;
    font-size:small;
    font-family:Arial, Helvetica, sans-serif;
display: flex;
    justify-content: center;
    align-items: center;
   

}
#skill{
     color: black;
    font-size:smaller;
    font-family:Arial, Helvetica, sans-serif;
     display: flex;
    justify-content: center;
    align-items: center;
   
}
#new{
     color: black;
    font-size:large;
    font-family:Arial, Helvetica, sans-serif;
     display: flex;
    justify-content: center;
    align-items: center;
   
}
.html{
    background-color: rgb(167, 214, 243);
    color:rgb(8, 8, 8);
    border-radius:10px ;
    border: none;
     padding:10px 20px;
     cursor: pointer;
     margin-left: 40px;

}
.html:hover{
  
 background-color: rgb(200, 242, 122);

}
.javascript{
     background-color: rgb(167, 214, 243);
    color:rgb(8, 8, 8);
    border-radius:10px ;
    border: none;
     padding:10px 20px;
     cursor: pointer;


}
.javascript:hover{
     background-color: rgb(200, 242, 122);

}
.css{
      background-color: rgb(167, 214, 243);
    color:rgb(8, 8, 8);
    border-radius:10px ;
    border: none;
     padding:10px 20px;
     cursor: pointer;

}
.css:hover{
      background-color: rgb(200, 242, 122);

}
.git{
    width:120px;
    height:auto;
    margin-top: 10%;
    margin-bottom:10%
    
}
.link{
   width:80px;
   height:auto;
   margin-left: 20%;
   margin-top: 10%;
   margin-bottom: 9%;
}